.App-logo {  
  height: 3rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.App-header {
  background-color: rgba(0,0,0,0.8);
  height: 80px;
  width: 100%;
  padding: 1rem;
  color: white;
  z-index: 20;
  position: absolute;
  top:0;
  left:0;
}
.App-Title {
  transform: translateX(-100%);
  animation: App-Title-Slide forwards 1s linear 0.5s;
}

.App-intro {
  font-size: large;
}
.App-Feedback {
  padding: 1rem;
}

@keyframes App-Title-Slide {
  from { transform: translateX(-100%); }
  to { transform: translateX(0%); }
} 
