.Popup {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0, 0.9);
    color: #fefefe;
    z-index: 40;
}
.btnClose {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgba(0,0,0, 0.9);
    background-color: #fefefe;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;

}
.Details {
    margin: 2rem;
    width: calc(100% - 5rem);
}
.Details-Name {
    font-size: 2rem;
}
