.Popup {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0, 0.9);
    color: #fefefe;
    z-index: 40;
}
.Button-Close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;

    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    padding: 1rem;
}
.Details {
    margin: 2rem;
    width: calc(100% - 8rem);
}
.Details-Name {
    font-size: 2rem;
}
